.banner-section {
    background-image: linear-gradient(180deg, rgba(8, 69, 121, 0.38) 0%, rgba(8, 69, 121, 0.38) 100%), url('https://d4t7t8y8xqo0t.cloudfront.net/resized/750X436/eazytrendz%2F2781%2Ftrend20200328123820.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;

}